* {
    color: white;
    margin: 0;
    padding: 0;
}

header,
footer {
    height: 5vh;
    background-color:  #1a4897;
    display: flex;
    padding: 5px;
    gap: 3vh;

    .containerElementsHeaderFooter {
        width: 100%;
        gap: 10px;
        margin-right: 7vh;
        display: flex;
        align-items: center;
        justify-content: right;

    }

    .elementHeaderFooter {
        background-color: #aa0707;
        padding: 5px;
        border: none;
        border-radius: 5px;

    }

    .imgContainerHeader {
        width: 70px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background-color: #aa0707;
        border-radius: 10px;
        color: white;
    }

    .dropdown-content a {
     
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
         border-radius: 10px;
        background-color: #a32d2d;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #ffffff;
        color: black;
    }
}

body {
    background-image: url('https://i.pinimg.com/1200x/22/ab/2b/22ab2b57751d9b22f8f7a9663d49e938.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.superbox {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.searchwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search{
    color: black;
}

.livrosContainer{
    width: 70vh;

img{
     height: 300px;
    width: 225px;
    border-radius: 5px;
    margin-bottom: 10px;
}  
}

button, #submit{
    background-color: #aa0707;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.imgPesquisa{
    justify-self: center;
}