body {
    background-color: black;
}
.esquerda {
    margin-right: 40%;
}
h1, p, h3 {
    margin-left: 10%;
    color: antiquewhite;
}
.espaco {
    background-color: #000000 ;
    width: 20%;
    height: 100%;
}


/*
 justify-content: center;
    align-items: center;

    text-align: justify;
    text-align-last: justify;
    
*/