.header{
    background-color: rgb(0, 0, 0);
    font-family: Cochin;
}


.body{
background-color: rgba(0, 0, 0, 0.950);
color:white;
font-family: monospace;
}


a:link {
  color: red;
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
