header {
    background-color: pink;
    display: flex;
}


header h3 {
    margin-left: 10%;
}


body {
    background-color: rgba(255, 192, 203, 0.170);
}


.question {
    margin: 20vh;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 10px;
    border: solid 2px;
}


body h2 {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
   
}


.options {
    place-items: center;
    justify-content: center;
    align-items: center;
}

button {
    width: 25vh;
    display: inline-block;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    margin-left: 15px;
    margin-bottom: 7px;
    border: 0px;
}

button:hover{
    transform: scale(0.8) ;
    transition: transform 0.3s;
}


.conjunto1 {

    margin-bottom: 10px;

}


.conjunto2 {

    margin-bottom: 10px;
}



.b1 {
    background-color: red;
}

.b2 {
    background-color: rgb(0, 0, 255);

}

.b3 {
    background-color: green;
}

.b4 {
    background-color: yellow;
}


